<yt-img-shadow height="24" width="24" id="author-photo" class="no-transition style-scope yt-live-chat-text-message-renderer" userid="{{userid}}"></yt-img-shadow>
<div id="content" class="style-scope yt-live-chat-text-message-renderer">
  <div id="timestamp"></div>
  <yt-live-chat-author-chip class="style-scope yt-live-chat-text-message-renderer" username="{{username}}"></yt-live-chat-author-chip>
  <span id="message" class="style-scope yt-live-chat-text-message-renderer">{{message}}</span>
  <!--yt-formatted-string></yt-formatted-string-->
  <a id="show-original"></a>
</div>