#content.yt-live-chat-text-message-renderer {
    -ms-align-self: center;
    -webkit-align-self: center;
    align-self: center;
    min-width: 0;
}

#emotion.yt-live-chat-text-message-renderer{
    vertical-align: text-top;
    /*height: 120px;*/
    max-height: 100px;
    opacity: var(--yt-live-chat-text-message-renderer-message-message-style_-_opacity);
}

#message.yt-live-chat-text-message-renderer {
    color: var(--yt-live-chat-primary-text-color, var(--yt-primary-text-color));
    line-height: 16px;
    overflow: hidden;
    overflow-wrap: break-word;
    word-wrap: break-word;
    word-break: break-word;
    font-style: var(--yt-live-chat-text-message-renderer-message-message-style_-_font-style);
    opacity: var(--yt-live-chat-text-message-renderer-message-message-style_-_opacity);
}

#repeat_count.yt-live-chat-text-message-renderer {
    color: white;
    line-height: 16px;
    overflow: hidden;
    overflow-wrap: break-word;
    word-wrap: break-word;
    word-break: break-word;
    font-style: var(--yt-live-chat-text-message-renderer-message-message-style_-_font-style);
    opacity: var(--yt-live-chat-text-message-renderer-message-message-style_-_opacity);
    /*background: var(--yt-live-chat-mention-background-color);*/
    margin-left: 0.5em;
    border-radius: 0.5em;
    padding: 0 0.35em;
    text-shadow: none !important;
}

#author-photo.yt-live-chat-text-message-renderer {
    display: block;
    margin-right: 16px;
    overflow: hidden;
    border-radius: 50%;
    -ms-flex: none;
    -webkit-flex: none;
    flex: none;
}

span.yt-live-chat-text-message-renderer,
div.yt-live-chat-text-message-renderer
{
    margin: 0;
    padding: 0;
    border: 0;
    background: transparent;
}

yt-live-chat-author-chip.yt-live-chat-text-message-renderer {
    margin-right: 8px;
}

#author-name.yt-live-chat-author-chip {
    box-sizing: border-box;
    border-radius: 2px;
    color: var(--yt-live-chat-secondary-text-color);
    font-weight: 500;
}

#author-name.yt-live-chat-author-chip[type='member'] {
    color: var(--yt-live-chat-sponsor-color);
}

#author-name.yt-live-chat-author-chip[type='moderator'] {
    color: var(--yt-live-chat-moderator-color);
}

img.yt-live-chat-author-badge-renderer,
div.yt-live-chat-author-badge-renderer,
span.yt-live-chat-author-chip{
    margin: 0;
    padding: 0;
    border: 0;
    background: transparent;
}

yt-live-chat-text-message-renderer {
    position: relative;
    font-size: 13px;
    padding: 4px 24px;
    overflow: hidden;
    --yt-endpoint-color: var(--yt-live-chat-primary-text-color, hsl(0, 0%, 6.7%));
    --yt-endpoint-hover-color: var(--yt-live-chat-primary-text-color, var(--yt-endpoint-color));
    display: flex;
    -ms-flex-direction: row;
    -webkit-flex-direction: row;
    flex-direction: row;
    -ms-flex-align: start;
    -webkit-align-items: flex-start;
    align-items: flex-start;
}

yt-live-chat-author-badge-renderer.yt-live-chat-author-chip {
    margin: 0 0 0 2px;
    vertical-align: sub;
}

yt-live-chat-author-badge-renderer[type='member'] {
    color: var(--yt-live-chat-sponsor-color, #107516);
}
yt-live-chat-author-badge-renderer[type='moderator'] {
    color: var(--yt-live-chat-moderator-color, #5e84f1);
}
yt-live-chat-author-badge-renderer {
    display: inline-block;
}

img.yt-live-chat-author-badge-renderer, yt-icon.yt-live-chat-author-badge-renderer {
    display: block;
    width: 16px;
    height: 16px;
}

yt-icon, .yt-icon-container.yt-icon {
    display: inline-flex;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    position: relative;
    vertical-align: middle;
    fill: currentcolor;
    stroke: none;
    width: var(--iron-icon-width, 24px);
    height: var(--iron-icon-height, 24px);
}