<main class="container">
    <div fxLayout="row">
        <div fxFlex="33">
            <div>
                <img src="/assets/logo_solid.png" width="40%" />
                <h1 style="color: #865686">
                    comen<span style="font-size: 24px; margin-left: 12px"
                        >by 3Shain</span
                    >
                </h1>

                <div>
                    <div>
                        <h2>帮助</h2>
                        <ul>
                            <li>
                                <a>入门视频</a>
                            </li>
                            <li>
                                <a>产品文档</a>
                            </li>
                            <li>
                                <a
                                    href="https://github.com/3Shain/Comen"
                                    target="_blank"
                                    >GitHub</a
                                >
                            </li>
                            <li>
                                <a>用户交流群</a>
                            </li>
                        </ul>
                    </div>
                    <div>
                        <div>
                            <ul>
                                <li>
                                    <a>关于</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="right" fxFlex="67">
            <div>
                <h2>欢迎使用</h2>
                <div></div>
            </div>
            <div>
                <h2>创建新的组件</h2>
                <div fxLayout="row">
                    <div
                        class="overlay-button"
                        fxFlex="50%"
                        *ngFor="let x of overlays$|ngrxPush"
                    >
                        <div (click)="createFile(x)">
                            <img [src]="x.icon" />
                            <div>
                                <h3>{{x.displayName}}</h3>
                                <p>没有描述</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div *ngrxLet="files$;let files">
                <h2>已创建</h2>
                <div *ngIf="files.length===0;else elseTpl">
                    你还没有创建过任何组件。
                </div>
                <ng-template #elseTpl>
                    <div class="file-button" fxLayout="row">
                        <div fxFlex=8></div>
                        <div fxFlex=32>名称</div>
                        <div fxFlex=16>类型</div>
                        <div fxFlex=24>最近编辑</div>
                        <div fxFlex=16></div>
                    </div>
                    <div
                        class="file-button"
                        *ngFor="let x of files"
                        fxLayout="row"
                        (click)="openFile(x)"
                    >
                        <div fxFlex=8>
                            <img [src]="x.icon" />
                        </div>
                        <div fxFlex=32>{{x.name}}</div>
                        <div fxFlex=16>{{x.displayName}}</div>
                        <div fxFlex=24>
                            {{x.lastModified | timeAgo}}
                        </div>
                        <div fxFlex=16 (click)="deleteFile(x)">
                            <i nz-icon nzType="delete"></i>
                        </div>
                    </div>
                </ng-template>
            </div>
        </div>
    </div>
</main>
