yt-img-shadow.no-transition {
    opacity: 1;
    transition: none;
}

yt-img-shadow[loaded] {
    opacity: 1;
}

yt-img-shadow {
    display: inline-block;
    opacity: 0;
    transition: opacity 0.2s;
    -ms-flex: none;
    -webkit-flex: none;
    flex: none;
}


img.yt-img-shadow {
    margin: 0;
    padding: 0;
    border: 0;
    background: transparent;
}

img.yt-img-shadow {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-height: none;
    max-width: 100%;
    border-radius: none;
}