#header.yt-live-chat-paid-message-renderer {
    position: relative;
    background-color: var(--yt-live-chat-paid-message-header-background-color, #125aac);
    color: var(--yt-live-chat-paid-message-header-color, #fff);
    font-weight: 500;
    padding: 8px 16px;
    min-height: 20px;
    overflow: hidden;
    white-space: nowrap;
    display: block;
    -ms-flex-direction: row;
    -webkit-flex-direction: row;
    flex-direction: row;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    border-radius:4px;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
}
#author-photo.yt-live-chat-paid-message-renderer {
    width: 40px;
    height: 40px;
}
#author-photo.yt-live-chat-paid-message-renderer {
    display: inline-block;
    margin-right: 16px;
    overflow: hidden;
    border-radius: 50%;
    -ms-flex: none;
    -webkit-flex: none;
    flex: none;
}

#header-content.yt-live-chat-paid-message-renderer {
    display: inline-block;
    -ms-flex-direction: row;
    -webkit-flex-direction: row;
    flex-direction: row;
    -ms-flex-pack: justify;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    -ms-flex: 1 1 0.000000001px;
    -webkit-flex: 1;
    flex: 1;
    -webkit-flex-basis: 0.000000001px;
    flex-basis: 0.000000001px;
    -ms-flex-align: baseline;
    -webkit-align-items: baseline;
    align-items: baseline;
}

#header-content-primary-column.yt-live-chat-paid-message-renderer {
    display: flex;
    -ms-flex-direction: column;
    -webkit-flex-direction: column;
    flex-direction: column;
    -ms-flex-pack: justify;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    -ms-flex: 1 1 0.000000001px;
    -webkit-flex: 1;
    flex: 1;
    -webkit-flex-basis: 0.000000001px;
    flex-basis: 0.000000001px;
}

#author-name.yt-live-chat-paid-message-renderer {
    color: var(--yt-live-chat-paid-message-author-name-color, rgba(255, 255, 255, 0.7));
    font-size: 14px;
    margin-bottom: 2px;
}