
yt-live-chat-item-list-renderer {
    position: relative;
    display: block;
    overflow: hidden;
    z-index: 0;
}

yt-live-chat-item-list-renderer.yt-live-chat-renderer, yt-live-chat-ninja-message-renderer.yt-live-chat-renderer {
    -ms-flex: 1 1 0.000000001px;
    -webkit-flex: 1;
    flex: 1;
    -webkit-flex-basis: 0.000000001px;
    flex-basis: 0.000000001px;
}

.shadow{
    opacity: 0;
    border:solid 1px transparent;
}

#items.yt-live-chat-renderer {
    /*min-height: 100vh;*/
    position: absolute;
    bottom: 0;
}


yt-live-chat-paid-message-renderer {
    position: relative;
    display: block;
    padding: 4px 24px;
    font-size: 15px;
    --yt-live-chat-paid-message-background-color: var(--yt-live-chat-paid-message-primary-color);
    --yt-live-chat-paid-message-header-background-color: var(--yt-live-chat-paid-message-secondary-color);
    --yt-live-chat-text-input-field-placeholder-color: var(--yt-live-chat-paid-message-color);
    --yt-live-chat-item-timestamp-display: var(--yt-live-chat-paid-message-timestamp-display, none);
}