yt-live-chat-author-chip.yt-live-chat-text-message-renderer {
    margin-right: 8px;
}

#author-name.yt-live-chat-author-chip {
    box-sizing: border-box;
    border-radius: 2px;
    color: var(--yt-live-chat-secondary-text-color);
    font-weight: 500;
}

span.yt-live-chat-author-chip{
    margin: 0;
    padding: 0;
    border: 0;
    background: transparent;
}