<div id="items" class="style-scope yt-live-chat-item-list-render">
    <yt-live-chat-text-message-renderer username="test" message="123451351"></yt-live-chat-text-message-renderer>
    <yt-live-chat-text-message-renderer username="test" message="123451351"></yt-live-chat-text-message-renderer>
    <yt-live-chat-text-message-renderer username="test" message="123451351"></yt-live-chat-text-message-renderer>
    <yt-live-chat-text-message-renderer username="test" message="123451351234513511234513511234513511234513511234513511234513511234513511234513511234513511234513511"></yt-live-chat-text-message-renderer>
</div>