/* You can add global styles to this file, and also import other style files */
html, body { scroll-behavior:smooth; }
body{
    margin: 0;
    overflow-y:hidden;
    overflow-x:hidden;
}


html:not(.style-scope) {
    --yt-live-chat-background-color: hsl(0, 0%, 100%);
    --yt-live-chat-action-panel-background-color: hsla(0, 0%, 93.3%, .4);
    --yt-live-chat-action-panel-background-color-transparent: hsla(0, 0%, 97%, .8);
    --yt-live-chat-mode-change-background-color: hsla(0, 0%, 93.3%, .4);
    --yt-live-chat-primary-text-color: hsl(0, 0%, 6.7%);
    --yt-live-chat-secondary-text-color: hsla(0, 0%, 6.7%, .6);
    --yt-live-chat-tertiary-text-color: hsla(0, 0%, 6.7%, .4);
    --yt-live-chat-text-input-field-inactive-underline-color: #b8b8b8;
    --yt-live-chat-text-input-field-placeholder-color: hsla(0, 0%, 6.7%, .6);
    --yt-live-chat-icon-button-color: hsla(0, 0%, 6.7%, .4);
    --yt-live-chat-enabled-send-button-color: #4285f4;
    --yt-live-chat-disabled-icon-button-color: hsla(0, 0%, 6.7%, .2);
    --yt-live-chat-picker-button-color: hsla(0, 0%, 6.7%, .4);
    --yt-live-chat-picker-button-active-color: hsla(0, 0%, 6.7%, .8);
    --yt-live-chat-picker-button-disabled-color: var(--yt-live-chat-disabled-icon-button-color);
    --yt-live-chat-picker-button-hover-color: hsla(0, 0%, 6.7%, .6);
    --yt-live-chat-mention-background-color: #ff5722;
    --yt-live-chat-mention-text-color: hsl(0, 0%, 100%);
    --yt-live-chat-deleted-message-color: rgba(0, 0, 0, .5);
    --yt-live-chat-deleted-message-bar-color: rgba(11, 11, 11, .2);
    --yt-live-chat-disabled-button-background-color: hsl(0, 0%, 93.3%);
    --yt-live-chat-disabled-button-text-color: hsla(0, 0%, 6.7%, .4);
    --yt-live-chat-sub-panel-background-color: hsl(0, 0%, 93.3%);
    --yt-live-chat-sub-panel-background-color-transparent: hsla(0, 0%, 93%, .7);
    --yt-live-chat-header-background-color: hsla(0, 0%, 93.3%, .4);
    --yt-live-chat-header-button-color: hsl(0, 0%, 6.7%);
    --yt-live-chat-error-message-color: hsl(10, 51%, 49%);
    --yt-live-chat-reconnect-message-color: hsla(0, 0%, 7%, 0.2);
    --yt-live-chat-moderator-color: hsl(225, 84%, 66%);
    --yt-live-chat-owner-color: hsl(40, 76%, 55%);
    --yt-live-chat-author-chip-owner-text-color: rgba(0,0,0,0.87);
    --yt-live-chat-author-chip-verified-background-color: #CCCCCC;
    --yt-live-chat-author-chip-verified-text-color: #606060;
    --yt-live-chat-message-highlight-background-color: #f8f8f8;
    --yt-live-chat-sponsor-color: #107516;
    --yt-live-chat-overlay-color: hsla(0, 0%, 0%, 0.6);
    --yt-live-chat-dialog-background-color: hsl(0, 0%, 100%);
    --yt-live-chat-dialog-text-color: hsla(0, 0%, 6.7%, .6);
    --yt-live-chat-moderation-mode-hover-background-color: hsla(0, 0%, 6.7%, .2);
    --yt-live-chat-additional-inline-action-button-color: hsl(0, 0%, 100%);
    --yt-live-chat-additional-inline-action-button-background-color: hsla(0, 0%, 26%, 0.8);
    --yt-live-chat-additional-inline-action-button-background-color-hover: hsla(0, 0%, 26%, 1.0);
    --yt-formatted-string-emoji-size: 24px;
    --yt-live-chat-emoji-size: 24px;
    --yt-live-chat-text-input-field-suggestion-background-color: hsl(0, 0%, 100%);
    --yt-live-chat-text-input-field-suggestion-background-color-hover: #eee;
    --yt-live-chat-text-input-field-suggestion-text-color: #666;
    --yt-live-chat-text-input-field-suggestion-text-color-hover: #333;
    --yt-live-chat-ticker-arrow-background: hsl(0, 0%, 97.3%);
    --yt-emoji-picker-category-background-color: var(--yt-live-chat-action-panel-background-color-transparent);
    --yt-emoji-picker-category-color: var(--yt-live-chat-secondary-text-color);
    --yt-emoji-picker-category-button-color: var(--yt-live-chat-picker-button-color);
    --yt-emoji-picker-search-background-color: hsla(0, 0%, 100%, .6);
    --yt-emoji-picker-search-color: hsla(0, 0%, 6.7%, .8);
    --yt-emoji-picker-search-placeholder-color: hsla(0, 0%, 6.7%, .6);
    --yt-live-chat-slider-active-color: #2196f3;
    --yt-live-chat-slider-container-color: #c8c8c8;
    --yt-live-chat-slider-markers-color: #505050;
    --yt-live-chat-toast-background-color: hsl(0, 0%, 20%);
    --yt-live-chat-toast-text-color: hsl(0, 0%, 100%);
    --yt-live-chat-automod-button-background-color: hsl(0, 0%, 93.3%);
    --yt-live-chat-automod-button-background-color-hover: hsla(0, 0%, 6.7%, .2);
    --yt-live-chat-countdown-opacity: 0.3;
    --yt-live-chat-shimmer-background-color: rgba(136, 136, 136, 0.2);
    --yt-live-chat-shimmer-linear-gradient: linear-gradient(0deg, rgba(255, 255, 255, 0) 40%, rgba(255, 255, 255, 0.5) 50%, rgba(255, 255, 255, 0) 65%);
    --yt-live-chat-vem-background-color: hsl(0, 0%, 93.3%);
    --yt-live-chat-upsell-dialog-renderer-button-padding: 10px 16px;
    --yt-live-chat-product-picker-icon-color: rgba(17, 17, 17, 0.6);
    --yt-live-chat-product-picker-hover-color: rgba(17, 17, 16, 0.1);
    --yt-live-chat-product-picker-disabled-icon-color: rgba(17, 17, 17, 0.4);
    --yt-pdg-paid-stickers-tab-selection-bar-color: #065FD4;
    --yt-pdg-paid-stickers-author-name-font-size: 13px;
    --yt-pdg-paid-stickers-author-subtext-display: inline-block;
    --yt-pdg-paid-stickers-author-subtext-font-size: 13px;
    --yt-pdg-paid-stickers-margin-left: 38px;
}